@page
@model newEF.Pages_Blog.IndexModel

@{
    ViewData["Title"] = "Index";
    int i = 0;

}
@{
    var datapaging = new EF.helper.PagingModel()
            {
                currentPage = Model.currentPage,
                countPages = Model.countPages,
                generateUrl = (int? p) => Url.Page("/Blog/Index", new { p = p })
            };
}

<h1>Danh sách bài viết</h1>
<form method="get" asp-page="./Index">
    <p>
        Title: <input type="text" name="SearchString" />
        <button type="submit" value="Tìm">Tìm </button>
    </p>
</form>
<partial name="_Paging" model="@datapaging" />
<p>
    <a asp-page="Create">Thêm bài viết</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                STT
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Article[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Article[0].Created)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Article)
        {
            <tr>
                <td>
                    @(++i)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Created)
                </td>

                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
